:root {
  --background: #dfd6bd;
  --top-text: #333;
  --header: #2f2f2f;
  --about-header: #5f7d62;
  --experience-header: #565e86;
  --skills-header: #786f4f;
  --portfolio-header: #7c5076;
  --website-header: #7d6d47;
  --sub-header: #626262;
  --sub-text: #383838;
  --info: #b2c8ab;
  --experience: #b6b6db;
  --job: #cac7ec;
  --project: #dbbfe0;
  --skills: #c8abab;
  --portfolio: #d2aedd;
  --websites: #c7b59b;
  --emphasize: #696969;
  --link: #4b224b;
}
html,
body {
  background: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
}
.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}
.main-container {
  max-width: 900px;
  margin: 190px auto 0 auto;
  height: 1000px;
  position: relative;
  z-index: 1;
  flex: 1;
}
.main-container .right {
  width: 450px;
  float: right;
}
.main-container .left {
  width: 450px;
  float: left;
}
.main-container .about {
  font-family: "Rajdhani", serif;
}
.main-container .about h1 {
  font-size: 20px;
  color: var(--about-header);
}
.main-container .about p {
  font-size: 17px;
}
.main-container .about .my-info {
  margin-top: 20px;
  padding: 20px;
  background: var(--info);
  border-radius: 20px;
}
.main-container .about .my-info p {
  margin-top: 10px;
  color: var(--sub-text);
}
.main-container .about .experience {
  margin-top: 10px;
  padding: 20px;
  background: var(--experience);
  border-radius: 20px;
}
.main-container .about .experience h1 {
  color: var(--experience-header);
}
.main-container .about .experience .job {
  color: var(--sub-header);
  background: var(--job);
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.main-container .about .experience .job h2 {
  font-size: 19px;
  margin: 0;
}
.main-container .about .experience .job i {
  color: var(--sub-header);
}
.main-container .about .experience .job p {
  color: var(--sub-text);
  margin-top: 3px;
}
.main-container .about .skills {
  margin-left: 10px;
  margin-top: 20px;
  padding: 20px;
  color: var(--header);
  background: var(--skills);
  border-radius: 20px;
}
.main-container .about .skills h1 {
  color: var(--skills-header);
}
.main-container .about .skills .skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 15px;
  margin-top: 10px;
}
.main-container .about .skills .skills-grid img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}
.main-container .about .portfolio {
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px;
  background: var(--portfolio);
  border-radius: 20px;
}
.main-container .about .portfolio h1 {
  color: var(--portfolio-header);
}
.main-container .about .portfolio .arrows {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.main-container .about .portfolio .arrows span {
  font-size: 25px;
  color: #857085;
  cursor: pointer;
}
.main-container .about .portfolio #mtg-ai {
  display: none;
}
.main-container .about .portfolio .project {
  color: var(--sub-header);
  background: var(--project);
  padding: 10px 10px 40px 10px;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
}
.main-container .about .portfolio .project h2 {
  font-size: 19px;
  margin: 0;
}
.main-container .about .portfolio .project p {
  color: var(--sub-text);
  margin-top: 5px;
}
.main-container .about .portfolio .project a {
  position: absolute;
  bottom: 15px;
  right: 30px;
  color: var(--link);
}
.main-container .about .portfolio .project span {
  position: absolute;
  bottom: 1px;
  font-size: 20px;
}
.main-container .about .websites {
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px;
  background: var(--websites);
  border-radius: 20px;
}
.main-container .about .websites h1 {
  color: var(--website-header);
}
.main-container .about .websites .website {
  padding: 10px;
}
.main-container .about .websites .website p {
  color: var(--sub-text);
}
.main-container .about .websites .website a {
  color: var(--link);
}
.main-container .about .websites .bottom-website {
  margin-top: 10px;
}
.title {
  border-bottom: solid 2px var(--top-text);
  padding: 0 0 12px 0;
  position: fixed;
  height: 175px;
  width: 900px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: var(--background);
  font-family: "Rajdhani", serif;
}
.title span {
  cursor: pointer;
}
.title .name-job {
  position: fixed;
  bottom: 10px;
}
.title .name-job h1 {
  font-weight: 700;
  font-style: normal;
  color: var(--top-text);
  margin: 0;
}
.title .name-job p {
  font-size: 18px;
  margin: 0;
  color: var(--top-text);
}
.title .mode {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--top-text);
}
.footer {
  width: 100%;
  padding-top: 100px;
  text-align: center;
  font-family: "Rajdhani", serif;
  position: relative;
}
.footer img {
  width: 50px;
}
.emphasize {
  color: var(--emphasize);
}
.emphasize-light {
  color: #747474;
}
.expand {
  transition: transform 0.2s ease;
}
.expand:hover {
  transform: scale(1.5);
}
@media (max-width: 900px) {
  .main-container {
    max-width: 500px;
  }
  .main-container .right {
    width: 250px;
    float: right;
  }
  .main-container .left {
    width: 250px;
    float: left;
  }
  .title {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .main-container {
    max-width: 300px;
  }
  .main-container .skills {
    margin: 0;
  }
  .main-container .right {
    width: 300px;
    float: left;
  }
  .main-container .left {
    width: 300px;
    float: left;
  }
  .title {
    width: 300px;
  }
}
