html {
    background-color: black;
    scroll-behavior: smooth;
}

.navbar a {
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.navbar a:hover {
    color: rgb(185, 185, 185)
}

.navbar {
    text-align: center;
    border: solid 2px white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.hero-section {
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    background-color: rgb(25, 25, 25);
    padding-top: 25%;
    padding-bottom: 25%;
    border: solid 2px rgb(133, 133, 133);
}

.hero-section img {
    width: 30%;
    background: radial-gradient(rgb(215, 213, 213), black);
    border-radius: 50%;
    border: solid rgb(173, 173, 173) 5px;
    position: absolute;
    bottom: 20%;
    right: 35%;
    transition: 0.3s;
}

.hero-section img:hover {
    width: 35%;
    transition: 0.3s;
    bottom: 15%;
    right: 32%;
}

.hero-section h1 {
    font-size: 50px;
    position: absolute;
    left: 55%;
    top: 17%;
}

.skills-section {
    border: solid 2px white;
    padding-top: 1%;
    padding-bottom: 4%;
}

.skills-section img {
    width: 14%;
    margin-right: auto;
    margin-left: auto;
    margin-left: 2%;
}

.top-section {
    float: right;
}

.project-section {
    color: white;
    font-family: 'Bebas Neue', cursive;
    border: solid 2px rgb(133, 133, 133);
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(25, 25, 25);
}

.project-section h1 {
    text-align: center;
    font-size: 40px;
}

.project-card {
    background-color: black;
    width: 43%;
    font-family: 'Bebas Neue', cursive;
    padding: 2%;
    margin-top: 4%;
    border-radius: 20px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.project-card p {
    font-size: 20px;
    color: rgb(222, 219, 219)
}

.project-card img {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-card:hover {
    background-color: rgb(77, 76, 76);
}

.project-card h1 {
    text-align: left;
    font-size: 30px;
}

.about-section {
    color: white;
    font-family: 'Bebas Neue', cursive;
    border: solid 2px white;
}

.about-section h1 {
    font-size: 40px;
    text-align: center;
}

.about-section p {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(203, 202, 202);
}

.contact-section {
    font-family: 'Bebas Neue', cursive;
    color: rgb(190, 190, 190);
    text-align: center;
    border: solid 2px rgb(133, 133, 133);
    padding-top: 3%;
    padding-bottom: 3%;
}

.contact-section h2:hover {
    color: white;
    transition: 0.3s;
}

@media only screen and (max-width: 500px) {
    .project-card {
        display: block;
        margin-left: 25%;
        width: 50%;
    }

    .project-card img {
        height: 150px;
    }
}


