.container {
    height: 60px;
    color: aquamarine;
    background-color: rgb(22, 22, 33);
}

.container p {
    font-size: 25px;
    margin: 17.5px 0 17.5px 120px;
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
}

.active-link {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.nav-links {
    margin: 17.5px 105px 17.5px 0;
}

.nav-links a {
    padding: 5px;
    text-decoration: none;
    color: rgb(222, 222, 222);
    font-size: 15px;
    float: right;
    margin: 0 15px 0 15px;
    font-weight: lighter;
    font-family: 'Aldrich', sans-serif;
}

.nav-links a:hover {
    color: rgb(255, 255, 255);
}

.split-left {
    width: 600px;
    float:left;
    height: 50px;
}

.split-right {
    overflow: hidden; 
    text-align: left;
    height: 50px;
}

.numbers {
    color: aquamarine;
}

@media only screen 
and (max-device-width: 1150px)
{  
    .container {
        height: 60px;
        color: aquamarine;
        background-color: rgb(22, 22, 33);
        text-align: center;
    }
    
    .container p {
        display: none;
    }
    
    .active-link {
        border-radius: 5px;
    }
    
    .nav-links {
        margin: 17.5px 0px 17.5px 0;
        width: 100%;
    }
    
    .nav-links a {
        padding: 5px;
        text-decoration: none;
        color: rgb(222, 222, 222);
        font-size: 15px;
        margin: 0 15px 0 15px;
        font-weight: lighter;
        font-family: 'Aldrich', sans-serif;
        float: none;
    }
    
    .split-left {
        width: 0px;
        float:left;
        display: none;
        height: 50px;
    }
    
    .split-right {
        text-align: center;
        width: 100%;
    }
}