<div class="container">
    <div class="wave-box">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
    </div>
    <div class="wave-box">
        <div class="wave -one" id="wave-2"></div>
        <div class="wave -two" id="wave-2"></div>
        <div class="wave -three" id="wave-2"></div>
    </div>

    <h1>PORTFOLIO</h1>

    <div class="card-container">
        <div class="card">
            <div class="left">
                <img src="../../assets/divart.png">
            </div>
            <div class="right">
                <div class="text-container">
                    <h2>DivArt</h2>
                    <p id="title"><i>Creator</i></p>
                    <p>
                        Website art project. All art on the website has 
                        been created using only HTML and CSS code. Inspired 
                        by Lynn Fisher's project, "A Single Div".
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="left">
                <img src="../../assets/divart.png">
            </div>
            <div class="right">
                <div class="text-container">
                    <h2>VinylVault</h2>
                    <p id="title"><i>Creator</i></p>
                    <p>
                        Developed a user-friendly vinyl collection and 
                        wishlist management application using Angular and SpringBoot.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="left">
                <img src="../../assets/magic.png">
            </div>
            <div class="right">
                <div class="text-container">
                    <h2>MTG AI Card Generator</h2>
                    <p id="title"><i>Creator</i></p>
                    <p>
                        Web application created using the openAI API.
                        After being given a prompt, generates an original
                        Magic the Gathering card.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="left">
                <img src="../../assets/videoGame.png">
            </div>
            <div class="right">
                <div class="text-container">
                    <h2>Original Video Game</h2>
                    <p id="title"><i>Creator</i></p>
                    <p>
                        Original video game created in GameMaker Studio 2.
                        All of the art, music, and game logic has been 
                        created by me.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>