<div class="container">
    <div class="content">
        <div class="img">
            <img src="../../../assets/headshot.png">
        </div>
        <div class="text">
            <h1>Aidan Puricelli</h1>
            <h2>About me...</h2>
            <p>
                Hello! I am an undergraduate student studying
                computer science at the University of Missouri.
                My passion lies in the world of software and web 
                development, where I thrive on creating efficient 
                and user-friendly solutions.
            </p>
        </div>
    </div>
    <div class="arrow">
        <a (click)="scrollToElement('projects')"><span class="material-symbols-outlined">arrow_downward</span></a>
    </div>
</div>
<div class="line" id="projects"></div>
