<div class="container">
    <div class="content">
        <div class="header">
            <h1>Portfolio...</h1>
        </div>
        <div class="card-container">
            <div class="scroll-arrow left-arrow" (click)="previousProject()">&#10094;</div>
            <div class="scroll-arrow right-arrow" (click)="nextProject()">&#10095;</div>
            <div class="card" *ngFor="let project of projects; let i = index" [style.transform]="'translateX(-' + (currentProjectIndex * 100) + '%)'">
                <div class="card-content">
                    <div class="card-text">
                        <h1>{{project.title}}</h1>
                        <h3><i>{{project.role}}</i></h3>
                        <h3><i>{{project.dates}}</i></h3>
                        <p>{{project.description}}</p>
                    </div>
                    <div class="card-image">
                        <img src="{{project.image}}">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow">
        <a (click)="scrollToElement('contact')"><span class="material-symbols-outlined">arrow_downward</span></a>
    </div>
</div>
<div class="line" id="contact"></div>
