.container {
    position: absolute;
    top: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    width: 100%;
}

.header {
    margin-top: 4vh;
    text-align: center;
    font-size: 2vh;
}

.card-container {
    position: relative;
    overflow: hidden;
    height: 60vw;
    margin-top: 5vh;
    right: -100vw; /* Initially off-screen */
    transition: right 0.6s ease;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-container-visible {
    right: 0; 
}

.scroll-arrow {
    position: absolute;
    top: 30%; /* Adjust as necessary */
    font-size: 6vh;
    z-index: 100;
}

.left-arrow {
    left: 3vw;
}

.right-arrow {
    right: 3vw;
}

.card {
    flex: 0 0 100%; /* Each card takes full width of the container */
    /* Additional styles for the card */
    /* Adjust margin, padding, etc., as needed */
    transition: transform 0.5s ease; /* Optional: for smooth transitioning */
}

.card-content {
    width: 80%;
    margin-left: 10%;
    height: 35vw;
    box-shadow: 6px 6px 8px rgb(48, 48, 48);
}

.card-text {
    padding: 2vh;
    float: left;
    width: 20%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.card-image {
    width: 100%;
    float: right;
}

.card-image img {
    height: 35vw;
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#contact {
    width: 100%;
    height: 1vh;
    top: 200vh;
    position:absolute
}

@media only screen and (max-width: 600px) {

    .card {
        width: 90vw;
        height: 20vh;
    }

    .project-text {
        display: none;
    }

    .project-image {
        width: 100%;
    }

    .project-image img {
        height: 15vh;
    }

    .arrow {
        display: none;
    }

    #contact {
        display: none;
    }

    
}