html {
    background-color: rgb(245, 234, 212);
    cursor: crosshair;
}

.fade-in-text-shorter {
    opacity: 0;
    animation: fadeInAnimationShorter ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationShorter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

.fade-in-text-longer {
    opacity: 0;
    animation: fadeInAnimationLonger ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationLonger {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.spin-out-text {
    opacity: 0;
    animation: SpinOutAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  
@keyframes SpinOutAnimation {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
    }
    100% {
      opacity: 1;
      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(90deg, 0deg);
      display: none;
    }
}

.fade-in-text {
    opacity: 0;
    animation: FadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes FadeInAnimation {
    0% {
        opacity: 0;
    }
    90% {
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 90deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    
}

.arrow  {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    animation: bounce 2s infinite;
    text-align: center;
}


.arrow span {
    font-size: 10vh;
    cursor: pointer;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}