html {
    background-color: rgb(22, 22, 33);
}

.line {
    background: radial-gradient(aquamarine, rgb(206, 206, 242));
    height: 5px;
}

.box  {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 0;
    width: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    opacity: .4;
    width: 80%;
    height: 1300px;
    margin-left: -400px;
    margin-top: -250px;
    border-radius: 43%;
    z-index: -1;
    overflow: hidden;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.wave.-one {
    animation: rotate 7000ms infinite linear;
    opacity: .1;
    background: rgb(255, 247, 88);
}
  
.wave.-two {
    animation: rotate 3000ms infinite linear;
    opacity: .1;
    background: black;
}
  
.wave.-three {
    animation: rotate 7500ms infinite linear;
    background-color: #77daff;
}