<div class="container">
    <div class="content">
        <div class="header fade-in-text-shorter">
            <h1>Contact</h1>
        </div>
        <div class="contact-info fade-in-text-longer">
            <h3>aidanpuricelli&#64;gmail.com</h3>
        </div>
        <div class="socials fade-in-text-longer">
            <a href="https://github.com/aidanPuricelli"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/aidan-puricelli-504b80250?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BII8j6O3SQzOYuwislPlMaQ%3D%3D"><img src="../../../assets/linkedin.png" id="linkedin"></a>
        </div>
    </div>
    <div class="header header-two fade-in-text-shorter">
        <h1>Professional Experience</h1>
    </div>
    <div class="experience fade-in-text-longer">
        <div class="experience-header">
            <h2>Software Engineering Intern</h2>
        </div>
        <div class="experience-position">
            <h3>the Federal Reserve Bank of St. Louis</h3>
        </div>
        <div class="experience-dates">
            <h3><i>May 2023 - Present</i></h3>
        </div>
        <div class="experience-description">
            <p>
                Full time software developer on a scrum team,
                contributing to the development and implementation
                of a full-stack application feature.
            </p>
            <p>
                Proficient in using Angular and Spring Boot Frameworks
                to design and deliver innovative solutions.
            </p>
            <p>
                Gained experience in using Atlassian services,
                fostering efficient project management, collaboration,
                and team communication during the software development
                lifecycle.
            </p>
        </div>
    </div>
    <div class="arrow">
        <a (click)="scrollToElement('thankyou')"><span class="material-symbols-outlined">arrow_downward</span></a>
    </div>
</div>
<div class="line" id="thankyou"></div>
