.container {
    position: absolute;
    top: 200vh;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    width: 100%;
}

.header {
    margin-top: 4vh;
    text-align: center;
    font-size: 2vh;
}

.header h1 {
    opacity: 0;
}


.content {
    height: 20vh;
}

#thankyou {
    width: 100%;
    height: 1vh;
    top: 300vh;
    position:absolute
}

.contact-info {
    text-align: center;
    opacity: 0;
}

.socials {
    text-align: center;
    height: 5vh;
    opacity: 0;
}

.socials img {
    height: 5vh;
    margin: 0 0.5vh 0 0.5vh;
}

#github {
    border-radius: 50%;
}

#linkedin {
    border-radius: 1vh;
}

.header-two {
    margin-top: 15vh;
}

.experience {
    width: 50%;
    margin: 3vh 0 0 25%;
    text-align: center;
    height: 25vh;
    opacity: 0;
}

.experience-description {
    text-align: center;
    width: 60%;
    margin: 0 0 0 20%;
    line-height: 1.5em;

}


  

@media only screen and (max-width: 600px) {

    .container {
        top: 200vh;
        margin-top: 20vh;
    }



    .arrow {
        display: none;
    }

    .experience {
        width: 90%;
        margin: 6vh 0 0 5%;
    }

}
